# Python Review

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [3]:
print("My name is Nguyen Giang.\nI am a student at North Seattle College.")

My name is Nguyen Giang.
I am a student at North Seattle College.

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [4]:
phone = 2065817875
print("My phone number is " + str(phone));

My phone number is 2065817875

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [3]:
name = "Nguyen Giang";
phone = "206-581-7875";
print("Hello my name is " + name + " and my phone number is " + phone);

Hello my name is Nguyen Giang and my phone number is 206-581-7875

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [2]:
month, year = "June", 2023
print(f"I graduate in {month} of {year}.");

I graduate in June of 2023.

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [7]:
ans = (12*5-3)/2;
print(ans);
# The type of ans is float because it's not a whole number (int)

28.5

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [8]:
month = "October";
if month == "October":
    print("31 days");
else:
    print("30 days");

31 days

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [10]:
number = 140;
if number > 150:
    print("greater than 150");
elif number > 100 and number < 151:
    print("between 100 and 150 ");
else:
    print("less than 100");

between 100 and 150

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [13]:
number = 70;
if number % 5 == 0 and number % 10 == 0:
    print("Number is divisible by 5 and 10.");
if number % 7 == 0 or number % 2 == 0:
    print("Number is divisible by 7 or by 2");

Number is divisible by 5 and 10.
Number is divisible by 7 or by 2

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [3]:
for i in range(1, 100):
    if i % 7 == 0:
        print(i);

7
14
21
28
35
42
49
56
63
70
77
84
91
98

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [20]:
#create variable to store sum
sum = 0;
for i in range(1, 10):
    if i % 3 == 0:
        # sum = sum + i
        sum += i; 
        print(str(i), end = ' ');
#\n to get new line
print("\nSum is " + str(sum));

3 6 9
Sum is 18

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [25]:
for i in range(1, 6):
    if i % 2 ==0:
        print("Set: " + str(i));
        for a in range(1, 6):
            print("Student " + str(a));
    else:
        print("Set: " + str(i));

Set: 1
Set: 2
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 3
Set: 4
Student 1
Student 2
Student 3
Student 4
Student 5
Set: 5

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [3]:
school = "Hogwarts";
#index start at 0 and end at ending index
first = school[0:3];
second = school[3:8];
print(first + second + school[-1]);

Hogwartss

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [33]:
chars = ["Thor", "She-Hulk", "Loki"];
for i in chars:
    print(i + " is a character in the Marvel Cinematic Universe. ", end ="");

Thor is a character in the Marvel Cinematic Universe. She-Hulk is a character in the Marvel Cinematic Universe. Loki is a character in the Marvel Cinematic Universe.

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [49]:
months = [["January", 31], ["Feburary", 28], ["March", 31], ["April", 30], ["May", 31], ["June", 30]];
for i in range(0, len(months)):
    month_title = months[i][0];
    day_amount = months[i][1];
    print(month_title + " has " + str(day_amount)  + " days.");

January has 31 days.
Feburary has 28 days.
March has 31 days.
April has 30 days.
May has 31 days.
June has 30 days.

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [5]:
dog = {
    "Breed" : "Corgi",
    "Age Exp." : 13,
    "Type" : "Cattle herding",
}

print(dog);
print(dog["Breed"]);
print("The " + dog["Breed"] + " is expected to live about " + str(dog["Age Exp."]) + " years.");

{'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
Corgi
The Corgi is expected to live about 13 years.